#infectadosIco {
    height: var(--quadrado);
    width: var(--quadrado);
    background: url('../svg/infectados.svg') no-repeat;
}

#mortosIco {
    height: var(--quadrado);
    width: var(--quadrado);
    background: url('../svg/mortos.svg') no-repeat;
}

#hospitalizadosIco {
    height: var(--quadrado);
    width: var(--quadrado);
    background: url('../svg/hospitalizados.svg') no-repeat;
}

#suspeitosIco {
    height: var(--quadrado);
    width: var(--quadrado);
    background: url('../svg/suspeitos.svg') no-repeat;
}

#recuperadosIco {
    height: var(--quadrado);
    width: var(--quadrado);
    background: url('../svg/recuperados.svg') no-repeat;
}

#descartadosIco {
    height: var(--quadrado);
    width: var(--quadrado);
    background: url('../svg/descartados.svg') no-repeat;
}

.indicadoresNom {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    text-align: left;
    grid-area: indicadores;
}

.indicadoresIco {
    display: flex;
    height: var(--conteudo);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 20px;
    grid-area: icones;
}

.indicadoresUlt {
    display: flex;
    height: var(--conteudo);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    grid-area: ulti;
}

.indicadoresPre {
    display: flex;
    height: var(--conteudo);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    grid-area: prev;
}

.indicadoresPre2 {
    display: flex;
    height: var(--conteudo);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    grid-area: prev2;
}

.legenda {
    font-family: var(--titulo);
    font-size: 0.65em;
    text-transform: uppercase;
    margin-top: 30px;
}

.legIco {
    width: var(--quadrado);
    height: var(--quadrado);
}

.conteudo2 .indicadoresNom {
    font-weight: 600;
}