.info {
    widows: 100%;
    max-width: var(--conteudo);
    margin: 0px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    font-size: 2em;
}

.info div {
    width: 250px;
    text-align: center;
    margin-top: 50px;
}

#hospitais {
    height: var(--quadrado2);
    width: var(--quadrado2);
    background: url("../svg/hospital.svg") no-repeat;
    margin: 0 auto;
}

#leitos {
    height: var(--quadrado2);
    width: var(--quadrado2);
    background: url("../svg/leitos.svg") no-repeat;
    margin: 0 auto;
}

#medicos {
    height: var(--quadrado2);
    width: var(--quadrado2);
    background: url("../svg/medico.svg") no-repeat;
    margin: 0 auto;
}

#ambulancias {
    height: var(--quadrado2);
    width: var(--quadrado2);
    background: url("../svg/ambulancia.svg") no-repeat;
    margin: 0 auto;
}

#enfermeiros {
    height: var(--quadrado2);
    width: var(--quadrado2);
    background: url("../svg/enfermeiro.svg") no-repeat;
    margin: 0 auto;
}

#hospitaisCampanha {
    height: var(--quadrado2);
    width: var(--quadrado2);
    background: url("../svg/hospitalCampanha.svg") no-repeat;
    margin: 0 auto;
}

#habitantes {
    height: var(--quadrado2);
    width: var(--quadrado2);
    background: url("../svg/habitantes.svg") no-repeat;
    margin: 0 auto;
}

#idosos {
    height: var(--quadrado2);
    width: var(--quadrado2);
    background: url("../svg/idosos.svg") no-repeat;
    margin: 0 auto;
}

#criancas {
    height: var(--quadrado2);
    width: var(--quadrado2);
    background: url("../svg/crianca.svg") no-repeat;
    margin: 0 auto;
}

#risco {
    height: var(--quadrado2);
    width: var(--quadrado2);
    background: url("../svg/risco.svg") no-repeat;
    margin: 0 auto;
}

#hiperTensos {
    height: var(--quadrado2);
    width: var(--quadrado2);
    background: url("../svg/cardiaco.svg") no-repeat;
    margin: 0 auto;
}

#diabeticos {
    height: var(--quadrado2);
    width: var(--quadrado2);
    background: url("../svg/diabetes.svg") no-repeat;
    margin: 0 auto;
}
