:root {
    --azul: #2B4697;
    --cinza: #333;
    --branco: #D1D7DA;
    --vermelho: #be0000;
    --quadrado: 60px;
    --quadrado2: 120px;
    --titulo: 'Ubuntu', sans-serif;
    --conteudo: 800px;
    --conteudo2: 1200px;
    --tempo: 800ms;
    --margin: 30px;
}

* {
    font-family: 'Titillium Web', 'sans-serif';
    -webkit-font-smoothing: antialiased;
    color: var(--branco);
    margin: 0;
}

a {
    text-decoration: none;
    transition: var(--tempo);
}

ul {
    list-style: none;
}

body {
    background-color: var(--cinza);
    font-size: 10px;
}

header {
    width: 100%;
    display: block;
    margin: 50px auto;
}

header h1 {
    font-family: var(--titulo);
    font-size: 3.5em;
    font-weight: 900;
}

header h1 a {
    position: fixed;
    width: auto;
    height: auto;
    top: 5px;
    right: 50px;
    font-size: 1.5em;
}

h1 a:hover {
    color: var(--vermelho);
    transition: var(--tempo);
}

.titulo {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2sv;
    margin-bottom: -30px;
}

.subtitulo {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2sv;
    margin-bottom: 50px;
}

strong {
    font-family: var(--titulo);
    color: var(--vermelho);
}

.data {
    display: inline;
    font-size: 1em;
    font-weight: 700;
    color: var(--vermelho);
}

#barraIsolamento {
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--cinza);
    padding: 5px;
}

.conteudo {
    max-width: var(--conteudo);
    width: 100%;
    margin: 0 auto 0;
    display: grid;
    grid-template-areas: 'icones indicadores ulti novos prev';
    font-size: 3em;
}

.conteudo2 {
    max-width: var(--conteudo);
    width: 100%;
    margin: 0 auto 0;
    display: grid;
    grid-template-areas: 'mindicadores multi mnovos mprev';
    font-size: 3em;
}

.conteudoNovos {
    max-width: var(--conteudo);
    width: 100%;
    margin: 0 auto 0;
    display: grid;
    grid-template-areas: 'icones indicadores ulti';
    font-size: 3em;
}

.esp {
    width: 100%;
    height: 100px;
}

.esp2 {
    width: 100%;
    height: 50px;
}

.esp3 {
    width: 100%;
    height: 200px;
}

.conteudoSobre {
    max-width: var(--conteudo);
    width: 100%;
    margin: -50px auto 0;
    display: grid;
    grid-template-areas: 'sobre';
    font-size: 3em;
}

.indicadoresSobre {
    grid-area: sobre;
}

#modoDeCor {
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 30px;
    right: 50px;
    transition: var(--tempo);
    background-color: var(--branco);
    cursor: pointer;
}

#modoDeCor:hover {
    background-color: var(--vermelho);
}

.atencao {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.5em;
    left: 50%;
    transition: var(--tempo);
}

.atencao a:hover {
    color: var(--vermelho);
}

.corNorte {
    color: #9263A7;
}

.corLeste {
    color: #E15B10;
}

.corSul {
    color: #324C93;
}

.corCentral {
    color: #56AF31;
}

.corOeste {
    color: #F8DC00;
}

.corVer {
    color: var(--vermelho);
}

.conteudoBairros {
    margin-left: 50%;
    transform: translateX(-50%);
}

.botaoBairros {
    display: none;
    font-size: 1.5em;
    font-weight: 700;
    padding: 10px;
    background-color: var(--vermelho);
    width: 150px;
    margin: 30px auto;
    text-align: center;
    text-transform: uppercase;
    transition: var(--tempo);
}

.botaoBairros:hover {
    background-color: var(--branco);
}

.botaoBairros a:hover {
    color: var(--vermelho);
}

#marca {
    display: inline-block;
    transform: translateY(25%);
    margin: 0px 15px;
    height: 50px;
    width: 50px;
    background: url('../svg/marca.svg') no-repeat;
}

.marca {
    color: var(--branco);
}

.grafico {
    width: 100%;
}

.grafico iframe {
    margin-left: 50%;
    transform: translateX(-50%);
}

.grafico2 {
    width: 100%;
    display: none;
}

.grafico2 iframe {
    margin-left: 50%;
    transform: translateX(-50%);
}