@media(max-width: 1250px) {
    #modoDeCor {
        bottom: 100px;
        right: 50px;
    }
}

@media(max-width: 1000px) {
     :root {
        --quadrado2: 140px;
        --margin: 15px;
    }
    body {
        font-size: 1.2vw;
    }
    #mapa {
        width: 60%;
        height: 60%;
        margin-left: 0;
        margin: 0 auto;
    }
    .conteudoMapa {
        display: none;
    }
    #aviso {
        font-size: 2vw;
        text-align: center;
        top: -80px;
    }
    #pct {
        font-size: 5vw;
    }
    #pctIsoLeg {
        font-size: 2vw;
    }
    #isoLeg {
        font-size: 2vw;
    }
    .indicadoresIco {
        display: none;
    }
    .indicadoresNom {
        padding-left: 25px;
    }
    .legenda {
        font-size: 16px;
    }
    .indicadoresSobre {
        font-size: 3vw;
    }
    .info {
        font-size: 25px;
    }
    .botaoBairros {
        display: block;
    }
}

@media(max-width: 800px) {
    body {
        font-size: 1.5vw;
    }
    .indicadoresNovos {
        display: none;
    }
    .indicadoresNovosMapa {
        display: none;
    }
}

@media(max-width: 500px) {
     :root {
        --quadrado2: 160px;
    }
    #aviso {
        font-size: 3vw;
    }
    .indicadoresSobre {
        font-size: 4vw;
    }
    #pctIsoLeg {
        font-size: 3vw;
        line-height: 12px;
    }
    #modoDeCor {
        bottom: 85px;
        right: 45px;
    }
}